{% extends 'blog_base.html' %}

{% block head %}
{% include 'blogs/blog_splash/head.html' %}
{% endblock %}

{% block navbar %}
{% include 'blogs/blog_splash/navbar.html' %}
{% endblock %}







{% block content %}


<div class="blogpage">

  <div class="main_body">



    <div class="blog_previews">
      <a href="/blogs/trump">
        <div class="preview_card">
          <h2>Trump.learn() goes live</h2>
          <h5>Outline of what this blog has to offer, Oct 26, 2018.</h5>
          <div class="img">Image</div>
        </div>
      </a>
      <div class="preview_card">
        <h2>TITLE HEADING</h2>
        <h5>Title description, Sep 2, 2017</h5>
        <div class="fakeimg" style="height:200px;">Image</div>
        <p>Some text..</p>
      </div>

    </div>

    <div class="side_links">

      <div class="side_card">
        <h2>Latest Technology</h2>
        <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
      </div>

    </div>
  </div>
</div>





{% endblock %}
