{% extends 'blog_base.html' %}

{% block head %}
    {% include 'blogs/basic_db_template/head.html' %}
{% endblock %}

{% block navbar %}
    {% include 'blogs/basic_db_template/navbar.html'  %}
{% endblock %}

{% block content %}


{% for post in posts %}

    <div class="blog-title"><h1 style="line-height: 36px;
                                  font-family: interstate;
                                  position: relative;
                                  text-align: left;
                                  padding-top: 20px;
                                  margin-left: 10%;
                                display: block; /* may help stop any text wrapping and display it inline. */">{{post.title}}</h1></div>

    <div class="blog-content">
                <div class="section-paragraph">
                    <p>{{  post.content }}</p>
                </div>
    </div>

      <div class="comments-wrapper">

        <h2>Comments</h2>
            <!--{% include 'blogs/basic_db_template/comments_section.html' with context %}-->

            <div class="comments">
                <button class="add-comment-button" onclick="add_comment_form( {{ post.blog_id }} )" id="button{{ post.blog_id }}">+</button>
                <div class="blog-comment reply-form" id="add{{ post.blog_id }}">
                    <div class="user-img"></div>
                    <form class="comment-main" action="/comment/{{ post.blog_id }}" method="POST">
                        <input class="reply-input-reply" type="text" name="text" placeholder="Type your comment here...">
                        <input type="submit" class="submit-button">
                    </form>
                </div>

                {% for comment in post.comments %}
                    <div class="blog-comment">
                        <div class="user-img"></div>
                        <div class="comment-main">
                            <div class="userinfo">
                                <div class="comment-date-time"><p>{{ comment.date_posted }}</p></div>
                            </div>
                            <div class="comment-text">
                                <p>{{ comment.text }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>


      </div>
<br>
<hr />
<br>
<br>

{% endfor %}
<div class="blog-image">
  <img src="{{ url_for('static', filename='images/trumptower.jpg')}}" />
</div>

{% endblock %}
