<div class="comments">

    <button class="add-comment-button" onclick="add_comment_form( {{11}} )" id="button{{11}}">+</button>
    <div class="blog-comment reply-form" id="add{{ 11 }}">
        <div class="user-img"></div>
        <form class="comment-main" action="{{ url_for('get_blog', blog_id='trump') }}" method="POST">
            <input type="hidden" name="parent_comment_id" value="null">
            <input class="reply-input-username" type="text" name="user" placeholder="Anonymous">
            <input class="reply-input-reply" type="text" name="text" placeholder="Type your reply here...">
            <input type="submit" class="submit-button">
        </form>
    </div>


    {% for comment in comments recursive %}

        <div class="blog-comment">

            {% include 'blogs/basic_db_template/comment.html' with context %}

             <div class="blog-comment reply-form" id="reply{{ comment['id'] }}">
                <div class="user-img"></div>
                <form class="comment-main" action="{{ url_for('get_blog', blog_id = comment['blog_id']) }}" method="POST">
                    <input type="hidden" name="parent_comment_id" value="{{ comment['id'] }}">
                    <input class="reply-input-username" type="text" name="user" placeholder="Anonymous">
                    <input class="reply-input-reply" type="text" name="text" placeholder="Type your reply here...">
                    <input type="submit" class="submit-button">
                </form>
            </div>

            {% if comment["replies"]|length > 0 %}
                <div class="replies" id="{{ comment['id'] }}">
                    {{ loop(comment["replies"]) }}
                </div>
            {% endif %}
        </div>
    {% endfor %}


</div>
