<div class="user-img"></div>

<div class="comment-main">
    <div class="userinfo">
        <div class="comment-username"><p>{{ comment["user"] }}</p></div>
        <div class="comment-date-time"><p>{{ comment["date"] }} {{ comment["time"] }}</p></div>

        <button class="vote-up-button" onclick="vote_up( {{ comment['id'] }} )">⬆</button>
        <button class="vote-down-button" onclick="vote_down( {{ comment['id'] }} )">⬇</button>
    </div>

    <div class="comment-text">
        <p>{{ comment["text"]}}</p>
    </div>

    {% if comment["replies"]|length > 0 %}
        <button class="button" onclick="showReplies( {{ comment['id'] }} )" id="button{{ comment['id'] }}">Show Replies</button>
    {% endif %}

    <button class="button" onclick="show_reply_form( {{ comment['id'] }} )">Reply</button>
</div>

