@font-face {
   font-family: interstate;
   src: url(fonts/interstate-bold.woff);
}

.body-wrapper {
  position: absolute;
  background-repeat: repeat-y;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.toplist {
    font-family: "Courier New", Courier, monospace;
    overflow: hidden;
    text-align: center;
}
.toplist ul{
  display: inline-block;
  list-style-type: none;
  font-size: 2em;
  margin: 10px;
  padding: 0;
  overflow: hidden;
}

.leftstuff {
    display: inline-block;
    float: left;
}

.center{
  text-align: center;
  display: inline-block;
  /* margin-right: 30px; */
  width: 250px;
}

.toplist ul li a {
    font-weight: normal;
    display: block;
    color: black;
    text-align: center;
    padding: 8px 10px;
    text-decoration: none;
    border-bottom: 1px solid rgba(192, 192, 192, 0);
    transition: border 500ms ease;
}

.toplist ul li a:hover {
    border-bottom: 1px solid rgba(192, 192, 192, 1);
}
