

.body-wrapper {
  background-image: url("images/back.jpg");
}

.top_tech_list {
    font-family: "Courier New", Courier, monospace;
    overflow: hidden;
    text-align: center;
}
.top_tech_list ul{
  display: inline-block;
  list-style-type: none;
  font-size: 1.5em;
  margin: 10px;
  margin-top: 20px;
  padding: 0;
  overflow: hidden;
}

.top_tech_list ul li {
    display: inline-block;
    margin-right: 30px;
    width: 300px;
}

.top_tech_list ul li a {
    font-weight: normal;
    display: block;
    color: black;
    text-align: center;
    padding: 8px 10px;
    text-decoration: none;
    border-bottom: 1px solid rgba(192, 192, 192, 0);
    transition: border 500ms ease;
}

.top_tech_list ul li a:hover {
    border-bottom: 1px solid rgba(192, 192, 192, 1);
}
