@font-face {
   font-family: interstate;
   src: url(fonts/interstate-bold.woff);
}
.body-wrapper {
   background-image: url("images/deskempty.jpg");
}
.main_body{
  font-family: "Courier New", Courier, monospace;
  position: relative;
  /* height: 90%; */
  overflow-y: scroll;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.blog_previews {
  float: left;
  width: 70%;
  overflow-y: scroll;
  height: 100%;
  margin-left: 5px;
}

/* Right column */
.side_links {
  float: left;
  width: 20%;
  padding-left: 20px;
}

/* Fake image */
.img {
  content: url("images/trumptower.jpg");
  width: 100%;
}

/* Add a card effect for articles */
.preview_card {
  background-color: none;
  border: 2px solid black;
  padding: 20px;
  margin-top: 20px;
}

.blog_previews a{
  text-decoration: none;
}

.blog_previews a:visited{
  text-decoration: none;
}

.side_card {
  background-image: url("back.jpg");
  background-color: none;
  border: 2px solid black;
  padding: 20px;
  margin-top: 20px;
}

.side_card h2 {
  background-color: none;
  margin-top: 0px;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
