
.comments-wrapper h2 {
  font-family: interstate;
  position: relative;
  text-align: left;
  padding-top: 20px;
  margin-left: 10%;
}

.comments {
  text-align: left;
  margin-left: 10%;
  margin-right: 10%;
}

.comment-main {
  display: inline-block;
  margin-left: 5%;
  width: 100%;
}

.reply-input-username, .reply-input-reply {
  display: block;
}

.reply-input-reply, .reply-input-username {
  position: relative;
  width: 50%;
  height: 30px;
}

.reply-input-reply {
  height: 50px;
}

.blog-comment {
  font-family: "Courier New", Courier, monospace;
  position: relative;

  background-color: hsl(0, 0%, 95%);

  margin: 10px;
  padding: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
}

.user-img {
  position: absolute;
  height: 40px;
  width: 40px;
  background-image: url('anonymous-user.png');
  background-size: contain;
  margin-top: 10px;
}
.userinfo {
  margin-top: 5px;
}
.comment-username {
  display: inline-block;
  font-weight: bold;
}

.comment-text{
}

.comment-date-time {
  display: inline-block;
}


.replies, .reply-form{
  display: none;
}

.replies .blog-comment, .reply-form {
   background-color: hsl(0, 0%, 80%, 0.5);
}

.reply-form {
  display: none;
  padding: 10px;
  margin-top: 10px;
}

.vote-up-button, .vote-down-button, .report-button .reply-button {
  display: inline-block;
}

.button {
  font-family: interstate;
  background-color: transparent;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 8px;
  padding-top: 14px;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
}

.vote-up-button {
  position: absolute;
  font-family: interstate;
  background-color: transparent;
   border: none;
   color: green;
   font-weight: bold;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   padding: 0;
   padding-top: 0;
   font-size: 30px;
   margin-top: 2px;
   margin-left: 10px;
   cursor: pointer;
}

.vote-down-button {
  font-family: interstate;
  position: absolute;
  background-color: transparent;
  border: none;
  color: red;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 0;

  font-size: 30px;
  margin-top: 2px;
  margin-left: 45px;
  cursor: pointer;
}


.add-comment-button {
  background-color: hsl(0, 0%, 95%, 1);
  margin: -10px;
  width: 40px;
  font-size: 30px;
  display: block;
  text-align: center;

  position: relative;
  margin: 10px;
}

button {
  border: none;
  cursor: pointer;
  outline: none;
  color: hsl(0, 0%, 40%, 1);
  transition: background-color 0.2s, color 0.2s;

}

.submit-button {
  background-color: hsl(0, 0%, 95%, 1);
  margin: 0;
  border: none;
  font-size: 16px;
  display: block;
  text-align: center;

  position: relative;

}
.add-comment-button:hover {
  background-color: hsl(0, 0%, 40%, 1);
  color: hsl(0, 0%, 85%, 1);
}

.add-comment-button:active {
  background-color: hsl(0, 0%, 30%, 1);
  color: hsl(0, 0%, 100%, 1);
}
