

.body-wrapper {
  background-image: url("images/deskempty.jpg");
}

.home_list {
    font-family: "Courier New", Courier, monospace;
    overflow: hidden;
    text-align: center;
}
.home_list ul{
  display: inline-block;
  list-style-type: none;
  font-size: 2em;
  margin: 10px;
  padding: 0;
  overflow: hidden;
}

.home_list ul li {
    display: inline-block;
    margin-right: 30px;
    width: 250px;
}

.home_list ul li a {
    font-weight: normal;
    display: block;
    color: black;
    text-align: center;
    padding: 8px 10px;
    text-decoration: none;
    border-bottom: 1px solid rgba(192, 192, 192, 0);
    transition: border 500ms ease;
}

.home_list ul li a:hover {
    border-bottom: 1px solid rgba(192, 192, 192, 1);
}

.home_title {
  font-family: "Courier New", Courier, monospace;
  max-width: 600px;
  margin-left: 10%;
  margin-top: 25%;
  padding-bottom: 0;
}
.home_title h1{
  font-family: interstate;
  font-size: 7em;
  padding-bottom: 0;
  margin-bottom: 0.5em;
}
