

.body-wrapper {
  background-image: url("images/back.jpg");
}


.blog-title h1{
  font-family: interstate;
  position: relative;
  text-align: left;
  padding-top: 20px;
  margin-left: 10%;
}

.blog-descrip h3{
  font-family: "Courier New", Courier, monospace;
  position: relative;
  text-align: left;
  margin-left: 10%;
}

.blog-image img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
}

.blog-content {
  font-family: "Courier New", Courier, monospace;
  position: relative;
  overflow-y: scroll;
  text-align: center;
}
.section-paragraph p {
  position: relative;
  text-align: justify;
  margin-left: 10%;
  margin-right: 10%;
}
