<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='stylesheet_base.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='stylesheet_homepage.css') }}">
<script src="{{ url_for('static', filename='scripts.js') }}" type="text/javascript"></script>
