{% extends 'blog_base.html' %}

{% block head %}
    {% include 'homepage/head.html' %}
{% endblock %}

{% block navbar %}
    {% include 'homepage/navbar.html' %}
{% endblock %}

{% block content %}

  <div class="home_title">
    <h1>
      {{title}}
    </h1>
    {{description}}
  </div>

{% endblock %}
