{% extends 'blog_base.html' %}

{% block head %}
    {% include 'blogs/basic_json_template/head.html' %}
{% endblock %}

{% block navbar %}
    {% include 'blogs/basic_json_template/navbar.html' %}
{% endblock %}

{% block content %}


    <div class="blog-title"><h1>{{ title }}</h1></div>
    <div class="blog-descrip"><h3>{{ description }}</h3></div>
    <div class="blog-image">
      <img src="{{ url_for('static', filename='images/trumptower.jpg')}}" />
    </div>

    <div class="blog-content">
        {% for section in sections %}
            <div class="section">
            <div class="section-title">{{ section.title }}</div>
            {% for paragraph in section['paragraphs'] %}
                <div class="section-paragraph">
                    <p>{{ paragraph['text'] }}</p>
                </div>
            {% endfor %}
            </div>
        {% endfor %}
    </div>

    <hr />

    {% block comments %}
      <div class="comments-wrapper">

        <h2>Comments</h2>
        {% include 'blogs/basic_json_template/comments_section.html' with context %}

      </div>
    {% endblock %}

{% endblock %}
