<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="{{ url_for('static',filename='images/trumpfavicon.png') }}">
    {% block head %}{% endblock %}
</head>
  <body>
    <div class="body-wrapper">
      {% block body %}{% endblock %}
    </div>
  </body>
</html>
