{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="navbar">
        {% block navbar %}{% endblock %}
    </div>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
    <div class="footer">
        {% block footer %}{% endblock %}
    </div>
{% endblock %}
