
  <div class="top_tech_list">
    <ul>
      <li> <a href='/blogs/trump'> Speech Generator </a></li>
      <li> <a href='/b'> Tech 2 </a></li>
      <li> <a href='/b'> Tech 3 </a></li>
      <li> <a href='/b'> Tech 4 </a></li>
    </ul>
  </div>
